.img-chitiet{
    width: 350px;
    height: 350px;
    margin-left: 0;
    margin: 3px;
}
.img-product{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}
.img-product > div:nth-child(1){
    border: 2px solid black;
    border-radius: 15px;
}
.add-img{
    margin-top: 5px;
    border: 2px solid #000;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 10px;
    background-color: #000;
    height: 90px;
    align-items: center;
}
div.element{
    position: relative;
    margin: 0px 7px;
    width: 70px;
    height: 70px;
}
.add-img > div.element > img{
    width: 70px;
    position: absolute;
}
div.bgadd{
    width: 70px;
    height: 70px;
    background-color: white;
    position: absolute;
}
div.element > a.ti-trash{
    position: absolute;
    color: red;
    font-size: 25px;
    margin: 21px;
    display: none;
}
div.element > div.ti-plus{
    position: absolute;
    color: red;
    font-size: 20px;
    margin: 24px;
}
div#img-delete{
    display: block;
}
div.delete:hover a.ti-trash{
    display: block;
}
div.add:hover div.bgadd{
    opacity: 0.5;
}
div.element:hover > img{
    opacity: 0.5;
}
.product-name{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    text-align: left;
    align-items: center;
}
.product-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: red;
    text-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}
.button{
    background-color: red;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 7px 10px;
    margin: 5px 5px;
    border-radius: 4px;
}
.button-amount{
    background-color: white;
    margin: 0 20px;
    padding: 5px 6px;
    border-radius: 4px;
    cursor: pointer;
}
input.amount{
    width: 40px ;
    height: 30px ;
    text-align: center;
    border: 2px solid black;
    border-radius: 4px;
}
div#body{
    position: relative;
    margin-bottom: 30px;
}
div.edit{
    margin-bottom: 10px;
    display: flex;
}
div.edit > div:nth-child(1){
    margin-left: auto;
    margin-right: 30px;
}
i.ti-pencil{
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    color: black;
}
i.ti-pencil:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.ti-save{
    border-radius: 3px;
    cursor: pointer;
    color: black;
    font-size: 30px;
}
.ti-save:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
i.ti-pencil , i.ti-save{
    font-size: 30px;
}