div.body-account{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
div.inform > div{
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(243, 156, 199);
    border-radius: 8px;
    font-size: 18px;
    margin: 50px 30px 0px 40px;
    line-height: 26px;
}
div.inform > div > span:first-child{
    color: #000;
    text-align: center;
    background-color: rgb(243, 156, 199);
    padding-top: 3px;
    padding-bottom: 3px;
}
div.inform > div > span:not(:first-child){
    margin: 5px 10px;
}
div.receipt-history{
    margin: 50px 30px 0px 20px;
}
div.receipt-history > table{
    border: 2px solid rgb(243, 156, 199);
    width: 100%;
}
div.receipt-history > table, td{
    border: 1px solid #000;
    border-collapse: collapse;
}
div.receipt-history > table tr:first-child{
    background-color: rgb(243, 156, 199);
    text-align: center;
}
div.receipt-history > table td{
    padding: 10px;
}
div.receipt-history > table td a{
    color: #000;
}